<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./styles/app.css">
</head>
<body>
  <h1>Welcome to use Web-starter-next!</h1>

  <main>
    {% include './templates/_list.html' %}
    {% include './templates/_intro.html' %}
    <img src="./images/loading.gif" alt="加载中">
    <p>Test update hot.</p>
  </main>

  <script src="./scripts/app.js"></script>
</body>
</html>
